#SchoolSpace {
  font-weight: 900;
  margin: 10px;
  padding: 10px;
  color: rgb(44 164 216);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.profile-footer {
  display: flex;
  flex-direction: column;
}
